bin/
obj/
*.db
*.user
*.suo
*.userosscache
*.sln.iml
.vscode/
*.swp

# Node
node_modules/
**/node_modules/

# Angular build
dist/
.angular/

# Backend publish output
backend/BookQuotes.Api/publish/

# Backend deployment zips
bookFrontend/frontend-build.zip

#fronend
bookFrontend/dist/


